/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// header styling starts

.navbar{height: 108px;background:#000;padding-left:134px;padding-right:172px;position: fixed;width: 100%;opacity:.7;z-index: 99786686868999;;
    // logo//
    .logo{z-index: 99999999;position: relative;
        img{height: 75px;}
    }
    //logo ends// 
    .navbar-collapse{
        .navbar-nav{
            .nav-item{padding-right:45px;
                a{font-size:20px;font-family:'roman';text-transform: uppercase;color:#fff;
                    &::after{content: '';height: 3px; width:0%;background-color:#fff;display: block;margin-top:10px;transition:width .5s ease-out;}
                    &:hover{
                        &::after{width:100%;}}}}}}
    &.active{opacity: 1;}}



//header styling ends


// Billboard Section Starts
.billboard{height:100vh;background-position:center center;background-size:cover;background-repeat: no-repeat;background-image: url(./img/Billboard\-1.jpg);display:flex;justify-content:center;flex-direction:column;padding-left:143px;position: relative;
    .overlay{height: 100%;width: 100%;position: absolute;background: #000;left: 0;opacity:.1;z-index: 1;}
    h1{font-size: 75px;color:white;font-family:'bold';margin-bottom: 55px;line-height:normal;z-index: 2;}
    a{width:194px;height:65px;display: flex;justify-content: space-between;align-items: center;position:relative;overflow:hidden;text-decoration: none;z-index: 2;
        .left{ background: #fff; width:80%; height:100%; padding-left:15px;position: relative; display: flex;align-items: center;float: left;
           &:after {content: ''; line-height: 0;font-size: 0; width: 0; border-top: 100px solid #E53D35; border-left: 0px solid transparent;  border-right: 50px solid transparent;position: absolute; top: 0;
            right: -50px;}
            span{font-family:'roman';font-size: 20px;color: #000000;line-height: 24px;}
        }
           .right {margin-left:0px; padding-right: 15px; width:30%; height:100%;background: #E53D35;position: relative; display: flex; align-items: center;float: left;justify-content:flex-end;
            i{color: #fff;border:3px solid #fff;border-radius:100%;padding:8px;font-size:24px;height:35px;display: flex;align-items: center;justify-content: center;}
          
          
          &:before {  content: ''; line-height: 0;font-size: 0;width: 0; height: 0;border-top: 50px solid transparent;border-bottom: 100px solid #E53D35; border-left: 50px solid transparent; border-right: 0px solid #fff;position: absolute; top: -50px; left: -50px;
          }}
         
        }
        a:hover{
            p{color: #E53D35;}
        }
}

    // Billboard ends here

// SERVICE ITEMS STYLES
    .services{margin:80px 0 100px;
        >div{
            >div{
                .service-cards{width:100%;
                    .img{width:100%;position: relative;display:flex;align-items:flex-end;height:231px;padding-bottom:10px;border:none;
                        .icon{width:118px;height:99px;position:absolute;display:flex;align-items:flex-end;background:#FDFDFD;left:-20px;
                            &:after{ content: '';left:100%;margin-left:-1%;border-left:50px solid #FDFDFD; border-top:100px solid transparent;position: absolute;z-index:1;
                            }
                            
                            img{height: 70px;position: relative;left:30%;align-self: center;z-index:3;
                                &:nth-of-type(3){height:82px;}
                            }
                        }
                    }
                    h2{font-size: 27px;font-family: 'bold';padding-bottom:19px;line-height:32px;color: #2D2D2D;}
                    p{font-size:20px;font-family: 'roman';line-height: 24px;}

                }
            }
        }
    }
  
// SERVICE ITEMS STYLES ENDS

// ABOUT US

.about-us{margin-bottom: 112px;
    h2{text-align: center;font-size: 40px;font-family: 'bold';line-height:48px;display: flex;align-items: center;justify-content: center;
        img{height: 59px;}
    }
    p{color: #2D2D2D;font-size: 22px;font-family:'roman';text-align: center;line-height: 26px;padding-top: 20px;}
    .mission-caption{display: flex;margin-top:52px;
       .description{width: 40%;margin-top:52px;margin-right: 53px;
           h2{text-align: left;display:flex;align-items:center;justify-content:flex-start;position: relative;right:60px;
            img{height: 59px;margin-left:15px;}
        }
           p{text-align: left;font-size: 22px;font-family:'roman';line-height: 30px;color:#2D2D2D;padding-top:10px;}
           a{font-family:'bold';font-size:18px;color:#E53D35;display:flex;align-items:center;text-decoration: none;margin-top:17px;transition:all .5s ease;
            i{border-radius:100%;border:2px solid #E53D35;height:8px;width:8px;display: flex;align-items: center;justify-content: center;margin-left:8px;padding:8px;font-size:12px;}
            &:hover{transform: scale(1.03);
                i{color:#000}
            }
        }
       }

        .caption-img{width: 60%;display:flex;flex-direction:column;align-items:flex-end;position: relative;
           .inner-cap{height:223px;width:373px;overflow: hidden;border-radius:10px;
            img{object-fit: cover;width: 100%;height: 100%;}
            &:nth-child(2){margin-top:28px;}
            &:nth-child(3){position: absolute;left:30%;top:50%;transform: translate(-50%,-50%);}
        }
        }
    }
}



// ABOUT US ENDS

// Testimonials starts
.testimonials{background: url(./img/abt-2.png);height:534px;width: 100%;background-size: cover;background-position: center;background-repeat: no-repeat;position: relative;
    .overlay{height:100%;width: 100%;left: 0;top: 0;background:#000;position: absolute;opacity:.7;}
      h2{color: #fff;font-family: 'bold';font-size: 45px;text-align: center;padding-top:50px;z-index: 99;position: relative;padding-bottom:43px;}
      .test-item{width: 829px;height:275px;background:#fff;position: relative;z-index:999;margin: auto;display: flex;align-items: center;padding:0 40px;border-radius:10px;
        img{height:165px;padding-right:17px;}
        .quote{
            h3{font-size:30px;font-family:'bold';line-height:42px;padding-bottom: 10px;}
            p{font-size: 20px;font-family:'roman';line-height:24px;color: #2D2D2D;}
        }
    }
}

///Testimonials starts


// Gallery Styles Starts

.gallery{text-align: center;padding:0 73px;margin-bottom: 100px;margin-top:80px;
    h2{display: flex;align-items: center;font-family: 'bold';font-size: 50px;line-height: 60px;justify-content:center;padding-bottom:20px;
        img{height: 59px;}
    }
    p{font-family: 'roman';font-size: 20px;width:830px;margin:auto;line-height:24px;padding-bottom:76px;}
    .img-gallery{
        
        .img-1{width:100%;overflow: hidden;
            img{height:257px;width:100%;object-fit:cover;
                &:nth-of-type(2){margin-top:22px;
                   img{height:120px;
                }}}

        }
        .img-2{height:536px;width:100%;
            img{width:100%;height: 100%;object-fit: cover;}
            
            
        }
        .img-3{width: 100%;margin-top:21px;
            img{width: 100%;height: 248px;object-fit:cover;}
            
            
        }
        .img-4{width: 100%;display:flex;justify-content:space-between;
            img{height: 257px;width:100%;object-fit: cover;}
         
            
        }
        .img-5{width: 100%;margin-top:auto;
            img{height: 554px;width:100%;object-fit: cover;padding-top:27px;}
        
            
        }
        

    }
}


// Gallery Styles Ends


// Contact Styles Starts
   .contact{background-image: url(./img/Contact-us.jpg);height:543px;background-position: center center;background-repeat: no-repeat;background-size: cover;position: relative;display:flex;justify-content:center;align-items:center;flex-direction:column;
       .overlay{top: 0;left: 0;background: #000;opacity: .7;position: absolute;height: 100%;width: 100%;z-index: 1;}
       img{z-index: 3;position: relative;height: 158px;margin-bottom: 55px;}
       a{color: #fff;font-family:'bold';font-size: 30px;line-height:36px;position: relative;z-index: 3;border:3px solid #fff;text-decoration: none;height: 77px;width: 221px;display: flex;align-items: center;justify-content: center;text-transform: uppercase;transition:all .3s ease-in-out;
        &:hover{background-color: #fff;color:#000;}
    }

}

// Contact Styles Ends


// foooter///styles
.main-footer{position: relative;} 
footer{margin-top:90px;overflow: hidden;
.footer-item{background: #E53C35;padding-left: 36px;padding-bottom: 115px;position: relative;
    &:after {content: ''; line-height: 0;font-size: 0; width: 0;height: 0;border-top: 100px solid #E53D35;border-bottom: 49px solid transparent; border-left: 0px solid transparent; border-right: 83px solid transparent; position: absolute;
        top: -50px; right: -47px;-webkit-transform: rotate(270deg); transform: rotate(270deg);z-index: 999; border-bottom-width: 0px;
    
      }
   
  
    img{height:66px;margin-top: 26px;margin-bottom: 50px;}
    p{text-align:center;text-align: center;margin-left: auto;padding:0 50px;font-family:'roman';font-size: 22px;line-height: 26px;color: #fff;padding-bottom: 16px;position: relative;z-index: 999;}
    .icon{text-align: center;padding-bottom:17px;
        a{color: #fff;display:inline-block;box-shadow: 0;text-decoration: none;position: relative;z-index: 999;transition:all .3s ease-in;
            i{font-size:17px;margin-right:10px;border:2px solid #fff;border-radius:100%;padding:16px;height:26px;width:26px;display: flex;justify-content: center;align-items: center;}
            &:hover{
               i{ background-color:#fff;color:#E53D35;}
            }
           
        }
    }

    a.submit{font-family:'bold';color: #fff;text-align: center;display: block;height: 68px;width: 223px;text-align: center;display: flex;justify-content:center;margin:auto;background:#E53C35;align-items:center;text-decoration: none;box-shadow: 19px 12px 16px rgba(0, 0, 0, 0.39);position: relative;z-index: 99999;font-size: 23px;transition:all .5s ease-in-out;
        &:hover{background-color: #fff;color: #E53C35;}
    }
}
.links{background-color:rgb(38, 35, 35);display:flex;flex-direction:column;height:100%;padding-top:30px;overflow:hidden;align-items:center;
    &:before { content: ''; z-index: 6;line-height: 0; font-size: 0; height: 0; border-top: 50px solid transparent;border-bottom: 357px solid #262323;border-left: 52px solid transparent; border-right: 0 solid #262323; position: absolute;top:-3px; border-width: 171px; border-top-width: 467px;left: -341px;}
    h4{font-size:24px;font-family: 'bold';color: #fff;text-transform: uppercase;padding:30px 0;text-align: left;}
    a{color: #fff;font-family:'roman';display: block;text-align: left;padding-bottom: 17px;position: relative;z-index:90000;text-decoration: none;font-size: 25px;transition: all .5s ease-in;
        &:hover{color: #E53D35;}
    }
}
#last{z-index: 3;overflow:hidden;
    .tag-items{
        a{font-size: 23px;text-decoration: none;display:flex;line-height: 23px;font-family:'roman';align-items: center;margin-bottom:10px;;
            i{padding-right:20px;font-size:30px;}
        }
    }
}
}

.bottom{height: 87px;width:88%;background-color: #000;display: flex;justify-content: center;align-items: center;margin-right:auto;justify-content: space-between;position:absolute;bottom:0px;z-index: 99999;right:0;
    p{font-size: 20px;font-family: 'roman';padding-right:164px;color: #fff;}
    a{height: 100%;width:130px;background-color: #373737;display: flex;align-items: center;justify-content: center;transform: skewX(-22deg);position: relative;left:-25px;text-decoration: none;transition:all .3s ease-in-out;
        i{transform: rotate(150deg); color: white; font-size: 20px;transition: all .3s ease-in-out;}
        &:hover{background-color: #FDFDFD;
            i{color:#000;}
        }
    }
}
// footer styles ends

// ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                     //                     ABOUT PAGE STYLES                            //



.about{height:549px;background-image:url(./img/Billboard2.jpg);background-position: center center;overflow:hidden;
    .page{display: flex;align-items:center;background-color: #E53D35;height:70px;width:215px;position:absolute;bottom:0;justify-content:center;
        a{width: fit-content;font-size:25px;font-family:'roman';color: #fff;}
        p{color:#fff;display:flex;align-items:center;padding:0 10px;position:relative;z-index:99;
            i{width: 100%;height: 100%;font-size:26px;}
        }
        p{font-size: 22px;font-family: 'bold';}
        &::after{content: ''; position: absolute;top: 0px;left:69%;width:31%; height:300px;background: #E53D35; -webkit-transform-origin: 100% 0;transform-origin: 100% 0;-webkit-transform: skew(-45deg);transform: skew(37deg);z-index: 0;display: block;
         
        
        }
    }
}
// heroe ends
// contact detaols
.contact-details{margin-top: 81px;margin-bottom:123px;
  .item{
      h2{font-size: 35px;font-family: 'bold';display: flex;align-items: center;position: relative;right:65px;padding-bottom:30px;
        img{padding-right: 18px;height:59px;} }
    p{font-size: 22px;font-family: 'roman';line-height:30px;text-align: left;padding-right:100px;}
    .value-items{display: flex;padding-bottom: 15px;;
        h6{font-size:22px;font-family:'bold';width:96px;margin-right:33px;}
        p{justify-self: right;font-size:19px;padding-right: 0;}
    }
  }
}
// ends
// //////////////////////////////Contact PAGE STYLES

///CONTACT LIST
.contact-us{margin-top: 126px;
.contact-list{
    h4{font-size: 35px;font-family: 'bold';display:flex;align-items:center;padding-bottom: 35px;;
        img{height:59px;margin-right: 18px;}
    }
    .tag-items{
        a{font-family: 'roman';font-size:22px;color: #707070;display:flex;text-decoration: none;padding-bottom:22px;line-height:30px;align-items:center;
            i{padding-right: 12px;}
        }
    }
}
.contact-form{
    h2{font-size: 35px;font-family: 'bold';display:flex;align-items:center;padding-bottom: 35px;;
        img{height:59px;margin-right: 18px;}
    }
    p{font-size: 22px;font-family:'roman';line-height: 26px;padding-bottom:20px;}
    input{font-family: 'roman';font-size:22px;color:#000000;margin-bottom:18px;border: 1px solid #707070;}
    textarea{height:150px;font-size: 22px;color:#000000;font-family: 'roman';margin-bottom: 18px;border: 1px solid #707070;}
    button{border:none;background-color: #E53D35;height:59px;font-family: 'roman';font-size: 22px;color:#fff;padding:0 20px;transition:all .3 ease-in;
        &:hover{background-color: #000;color:#fff;}
    }
}
}
//contact ends
///////////////////////////////////////////////////Careers///////////////////

section.loyalty{text-align: center;margin-top: 50px;
    h2{font-size: 45px;font-family:'bold';line-height:54px;display:flex;align-items:center;justify-content:center;padding-bottom:48px;
        img{height:59px;}
    }
    p{width:80%;font-size: 22px;font-family:'roman';line-height: 26px;margin: auto;}
    
   
}
// admin
.admin,.driver{margin-top:90px;
    h2{font-size: 35px;line-height: 42px;display:flex;align-items:center;font-family:'bold';justify-content:center;padding-bottom:66px;
        img{height:59px;}

      
    }

    .admin-infor{display: flex;justify-content:center;
        .caption{height: 258px;width: 382px;position:relative;margin-right:78px;
            img{height: 100%;width:100%;object-fit: cover;}
            p{position: absolute;top:0;background-color: #fff;height:55px;width:70%;display: flex;align-items: center;font-size: 25px;font-family: 'bold';line-height:30px;color: #E53D35;padding-left:20px;}
        }
    }
    .require{
        h4{font-size: 30px;font-family:'bold';line-height: 36px;padding-bottom: 20px;}
        ul{padding: 0;
            li{font-size:22px;line-height:20px;font-family: 'roman';padding-bottom:20px;list-style:disc;padding-left: 0;padding-right: 0;margin-left: 17px;}

        }
       a.submit{margin-top:25px;height:50px;width:188px;background-color: #E53D35;display: block;display: flex;align-items: center;justify-content: center;font-family: 'roman';font-size:22;color: #FFFFFF;text-decoration: none;transition: all .3s ease-in;
        &:hover{background-color: #000;color:#fff;}
    } 
    }
}
ol.carousel-indicators{left:inherit;margin-right:0;bottom:-10px;
    li{background-color:#232331;width: 50px;height:4px;
        &.active{background-color: #E53D35;}
    }
}
// team//// styles//////@extend

.team{margin-top: 119px;margin-bottom:95px;
    h2{font-family: 'bold';line-height:30px;font-size: 30px;display: flex;align-items: center;justify-content:center;padding-bottom:10px;
        img{height:59px;}
    }
    p{text-align: center;line-height: 33px;font-size: 22px;font-family: 'roman';padding-bottom: 96px;}

    .member{height:288px;width: 296px;position: relative;
        .overlay{position: absolute;top:0;right: 0;height: 100%;width: 100%;background: #000;opacity:0;transition:all .5s ease;}
        img{width: 100%;height:100%;object-fit: cover;transition:all .5s ease-in;}
        .banner{background-color: #fff;text-align: center;height: 108px;width: 247px;position:absolute;bottom:-10%;left:8%;transition:all .5s ease;padding-top:12px;
            
            h5{font-size: 30px;font-family: 'bold';line-height: 36px;}
            p{font-size: 25px;font-family: 'roman';line-height: 30px;padding-top:10px;}
        }
        &:hover{
           
            .overlay{opacity:.6;}
            .banner{background:#E53D35;color: #FDFDFD;}
        }
    }
}

body > section.team > div > div.owl-carousel.owl-loaded.owl-drag > div.owl-stage-outer{overflow-x: hidden;padding-bottom:70px;}
.owl-dots{margin: auto;width:fit-content;
    button{height:4px;width:50px;background-color:#2D2D2D !important;margin:0 5px;
        &.active,&:focus{background-color: #E53C35 !important;outline: 0;}

    }
}
@media(min-width:460px) and (max-width:533px){
    section.billboard{height:100vh;
        h1{line-height: normal;font-size: 28px !important;}
    }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width:320px) {
    nav.navbar{
        // logo//
        .logo{
        img{height:30px;}}
          button{
              img{height:30px !important;}
          }
        }
        .billboard{
            h1{line-height: normal;font-size: 28px !important;}
        }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

.about{
    .page{height:40px;
        a{font-size:20px;}
        p{
            i{font-size:18px;}
        }
        p{font-size:18px;}
        &::after{display: none;}}
}
    section.loyalty{
        h2{font-size:24px;}
        p{font-size: 18px;}
    }
    .team{margin-top:50px;margin-bottom:25px;
        
        p{padding-bottom: 36px;}
    
        .member{width:100%;margin-bottom:50px;
          
            .banner{height:108px;width:150; }
          
        }
    }
// admin
.admin,.driver{margin-top:40px;
    h2{font-size: 22px;padding-bottom:36px;
        img{height:29px;}

      
    }

    .admin-infor{flex-wrap: wrap;justify-content:center;
        .caption{height: 258px;width:100%;position:relative;margin-right:0px;margin-bottom: 20px;
      
    }
    
       a.submit{margin-top:25px;height:50px;width:110px;} 
    }
}

// contact detaols
.contact-details{margin-top:81px;margin-bottom:43px;
    .item{
       
      p{padding:0 10px;}
      .value-items{
          h6{font-size:20px;width:36px;margin-right:50px;}
          p{font-size:19px;padding-right: 0;}
      }
    }
  }
  // ends
footer{
    >div{padding:0;}
    .footer-item{padding-left:0;text-align:center;
         img{height:56px;}
    }
        .links{padding-top: 0 !important;
            h4{position: relative;z-index: 9;padding: 0;padding-top: 0;padding-bottom: 24px;font-size:26px;}
            &::before{
                border-top-width:508px;
            }}
            #last{padding-bottom:100px;position: relative;top:-1px;
                h4{padding: 0;padding-bottom: 24px;font-size:26px;padding-top: 0;}
                .tag-items{
                    a{font-size: 17px;}
                }
            }
            #links{display: flex;align-items: center;justify-content: center;height:273px;
                h4{padding-top:0;}
            }


}
.bottom{
    p{padding-right:20px;font-size: 11px;}
}
    .services{
        >div{
            >div{
                .service-cards{margin:20px 0;
                    .img{height:278px;
                        img{height: 100%;width: 100%;object-fit: cover;}
                        .icon{width:118px;height:105px;left:0;
                            &:after{
                                content: '';
                                left:100%;margin-left:0%;
                             border-left:50px solid #FDFDFD;
                              border-top:105px solid transparent;
                            }
                            
                            img{align-self:flex-end;height:100px;left:15px;
                                &:nth-of-type(3){height:100px;}
                            }
                        }
                    }
                    
                    p{font-size:15px;}
    
                }
            }
        }
    }
    
    // SERVICE ITEMS STYLES ENDS
    .navbar{opacity:1;padding:0 20px !important;height:60px;
        // logo//
        .logo{
        img{height:35px;}}
          button{
              img{height:40px !important;}
          }
        }
        .testimonials{height: 100%;padding-bottom:25px;
            .test-item{width:90%;flex-wrap: wrap;justify-content: center;height: 100%;padding:12px 20px;}}
             // Gallery Styles Starts

.gallery{padding:0 20px;
    h2{font-size: 26px;}
    p{width:80%;font-size: 20px;}
    .img-gallery{
        
       .img-2,.img-5{height:257px;
           img{height: 100%;}
       }
        .img-4{margin-top: 24px; }
    }
   



// Contact Styles Ends
}


// Gallery Styles Ends
.billboard{padding-left:20px;height:70vh;
    h1{font-size:30px;line-height:normal;padding-top: 30px;}

}
// Contact Styles Starts
.contact{
    
    img{z-index: 3;height:70px;}
   
 

}
// ABOUT US

section.about-us{
    h2{font-size:26px;}
    .mission-caption{flex-wrap: wrap-reverse;justify-content:center;
        .inner-cap{width: 100% !important;
            img{width: 100% !important;}
            &:nth-of-type(3){display: none;;
                
            }

        }
       .description{width:100%;
           h2{left:10px;}}

        .caption-img{width:100%;}}}



// ABOUT US ENDS


}

@media (max-width: 991px){
    .navbar{opacity: 1;
        .navbar-collapse{position: absolute;top:100%;background-color:#E53D35;left:0;width: 100%;opacity:1;padding:20px 40px;
            ul.navbar-nav{
                li.nav-item{padding-right:45px;
                    a.nav-link{font-size:30px;font-family:'roman';text-transform: uppercase;color:#fff;
                        &::after{content: '';height: 3px; width:0%;background-color:#fff;display: block;margin-top:10px;transition:width .5s ease-out;}
                        &:hover{
                            &::after{width:100%;}
                        }
                        
                          
                        
                        
                     }
                    
                    }
            }}
        }
        body > section.contact-details > div > div > div > div > h2{right: auto !important;}
        body > div:nth-child(3) > section > div > div > div > div > div > img{
            left: 5% !important;
        }
        .billboard{
            padding-left: 40px;
        }
}
@media (max-width: 768px){
    .team{margin-top:50px;margin-bottom:25px;
        
        p{padding-bottom: 36px;}
    
        .member{width:100%;
          
            .banner{height:108px;width:150; }
          
        }
    }
    body > div:nth-child(3) > section > div > div:nth-child(1) > div > div > div{height:102px !important;width: 116px !important;}
    .billboard.about{height:60vh;background-position: right;}
    .billboard{
        .overlay{opacity:1;background-color: transparent;display: none;}
    }
    .navbar{opacity: 1;padding:0 40px;
        // logo//
          button{
              img{height:80px;}
          }
        }
        //logo ends// 
        .navbar-collapse{position: absolute;top:100%;background-color:#E53D35;left:0;width: 100%;opacity:1;padding:20px 40px;
            ul.navbar-nav{
                li.nav-item{padding-right:45px;
                    a.nav-link{font-size:30px;font-family:'roman';text-transform: uppercase;color:#fff;
                        &::after{content: '';height: 3px; width:0%;background-color:#fff;display: block;margin-top:10px;transition:width .5s ease-out;}
                        &:hover{
                            &::after{width:100%;}
                        }
                        
                          
                        
                        
                     }
                    
                    }
            }
        }
        // SERVICE ITEMS STYLES
section.services{
    >div{
        >div{
            .service-cards{
                .img{
                    
                    .icon{width:118px;height:105px;left:0;
                        &:after{
                            content: '';
                            left:100%;margin-left:-0.5%;
                         border-left:50px solid #FDFDFD;
                          border-top:105px solid transparent;
                        }
                        
                        img{align-self:flex-end;height:100px;
                            &:nth-of-type(3){height:100px;}
                        }
                    }
                }
                
                p{font-size:15px;}

            }
        }
    }
}

// SERVICE ITEMS STYLES ENDS

.testimonials{height: 100%;padding-bottom:25px;
    .test-item{width:90%;flex-wrap: wrap;justify-content: center;height: 100%;padding:12px 20px;}}
     // Gallery Styles Starts
     
     
        .gallery{padding:0 20px;
            p{width:80%;}
            .img-gallery{
                
              
                .img-4{margin-top: 24px; }}}
}
// Small devices (landscape phones, 576px and up 767)
@media (min-width: 568px) and (max-width: 767px) {
    body > section.contact-details > div > div > div > div > h2{right: auto !important;}
    .navbar{opacity:1;padding:0 20px !important;height:60px;
        // logo//
        .logo{
        img{height:50px;}}
          button{
              img{height:50px !important;}
          }
        }
// admin
.admin,.driver{
  

      
    

    .admin-infor{flex-wrap: wrap;justify-content:center;
        .caption{height: 258px;width:100%;position:relative;margin-right:0px;margin-bottom: 20px;
      
    }
    
       a.submit{margin-top:25px;height:50px;width:128px;} 
    }
}
    .team{margin-top:50px;margin-bottom:25px;
        
        p{padding-bottom: 36px;}
    
        .member{width:100%;margin-bottom: 50px;
          
            .banner{height:108px;width:150; }
          
        }
    }
// Contact Styles Starts

.contact{
    
    img{z-index: 3;height:100px;}
   
 

}
// ABOUT US
    // SERVICE ITEMS STYLES
.services{
    >div{
        >div{
            .service-cards{
                .img{height:278px;
                    img{height: 100%;width: 100%;object-fit: cover;}
                    .icon{width:115px !important;height:105px;left:0;
                        &:after{
                            content: '';
                            left:100%;margin-left:0%;
                         border-left:50px solid #FDFDFD;
                          border-top:105px solid transparent;
                        }
                        
                        img{align-self:flex-end;height:100px;left:0;
                            &:nth-of-type(3){height:118px;}
                        }
                    }
                }
                
                p{font-size:15px;}

            }
        }
    }
}

// SERVICE ITEMS STYLES ENDS
    body > div:nth-child(4){padding: 0 !important;margin: auto !important;text-align: center;}
nav.navbar{padding:0 20px;position: relative;}
.billboard{height:100vh;
    .overlay{opacity:1;background-color: transparent;display: none;}
    h1{font-size: 50px;}
}

section.about-us{
    .mission-caption{flex-wrap: wrap-reverse;justify-content:center;
        .inner-cap{width: 100% !important;
            img{width: 100% !important;}
            &:nth-of-type(3){display: none;;
                
            }

        }
       .description{width:100%;
           h2{left:10px;}}

        .caption-img{width:100%;}}}



// ABOUT US ENDS
body > div:nth-child(3) > section > div > div:nth-child(3) > div > div > div > img{height:118px !important;}

footer{
    >div{padding:0;}
    .footer-item{padding-left:0;text-align:center;
         img{height:56px;}
         &::after{display: none;}
    }
        .links{padding-top: 0 !important;height:400px;
            h4{position: relative;z-index: 9;padding: 0;padding-top: 0;padding-bottom: 24px;font-size:26px;}
            &::before{
                border-top-width:508px;
            }}
            #last{padding-bottom:100px;
                h4{padding: 0;padding-bottom: 24px;font-size:26px;padding-top: 0;}
            }
            #links{display: flex;align-items: center;justify-content: center;height:100%;
                h4{padding-top:0;}
            }


}
.bottom{
    p{padding-right:20px;}
}

    
}



//header styling ends



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    body > section.contact-details > div > div > div > div > h2{right: auto !important;}
    .team{margin-top:50px;margin-bottom:25px;
        
        p{padding-bottom: 36px;}
    
        .member{width:100%;margin-bottom: 50px;
          
            .banner{height:124px;width:150px; }
          
        }
    }
// Contact Styles Starts
    .admin-infor{flex-wrap: wrap;justify-content:center;
        .caption{height: 258px;width:100% !important;position:relative;margin-right:0px !important;margin-bottom:20px;
            p{width:38% !important;}
      
    }
    
       a.submit{margin-top:25px;height:50px;width:128px;} 
    }
    .testimonials{
       .test-item{width:90%;}}
    
    ///Testimonials starts

    // Gallery Styles Starts

.gallery{padding:0 20px;
    p{width:80%;}
    .img-gallery{
        
       
        .img-4{margin-top: 24px; }
    }
}


// Gallery Styles Ends
.navbar{position: relative;
.navbar-collapse{position: absolute;top:100%;background-color:#E53D35;left:0;width: 100%;opacity:1;padding:20px 40px;
    ul.navbar-nav{
        li.nav-item{padding-right:45px;
            a.nav-link{font-size:30px;font-family:'roman';text-transform: uppercase;color:#fff;
                &::after{content: '';height: 3px; width:0%;background-color:#fff;display: block;margin-top:10px;transition:width .5s ease-out;}
                &:hover{
                    &::after{width:100%;}
                }
                
                  
                
                
             }
            
            }
    }}
}
// ABOUT US

.about-us{
    .mission-caption{flex-wrap: wrap-reverse;justify-content:center;
       .description{width:100%;
           h2{left:10px;}}

        .caption-img{width:100%;}}}



// ABOUT US ENDS
.navbar{padding-left:40px;padding-right:40px;}
// Billboard Section Starts
.billboard{padding-left: 20px;height:70vh;
    
    h1{font-size:45px;line-height:50px}
 
       
}

// SERVICE ITEMS STYLES
.services{
    >div{
        >div{
            .service-cards{
                .img{height:278px;
                    img{height: 100%;width: 100%;object-fit: cover;}
                    .icon{width:118px;height:105px;left:0;
                        &:after{
                            content: '';
                            left:100%;margin-left:0%;
                         border-left:50px solid #FDFDFD;
                          border-top:105px solid transparent;
                        }
                        
                        img{align-self:flex-end;height:100px;
                            &:nth-of-type(3){height:100px;}
                        }
                    }
                }
                
                p{font-size:15px;}

            }
        }
    }
}

// SERVICE ITEMS STYLES ENDS

footer{margin-top:90px;overflow: hidden;
    .footer-item{background: #E53C35;padding-left: 36px;padding-bottom: 115px;position: relative;
        &:after {display: none;}
     
        }
        .links{
            h4{position: relative;z-index: 9;padding: 0;padding-top: 0;padding-bottom: 24px;font-size:26px;}
            &::before{
                border-top-width:508px;
            }}
            #last{padding-bottom:100px;
                h4{padding: 0;padding-bottom: 24px;font-size:26px;}
            }
            #links{display: flex;align-items: center;justify-content: center;}
}
.bottom{
    p{padding-right: 20px;}
}
}

    // Billboard ends here



// Large devices  Ipad(desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    body > section.contact-details > div > div > div > div > h2{right: auto !important;}
    footer{
        .footer-item{
            &:after {display: none;}
           
          
        }}
        // header styling starts

.navbar{padding-left:40px;padding-right:40px;}
    // logo//
   
    //logo ends// 
    



//header styling ends


// SERVICE ITEMS STYLES
.services{
    >div{
        >div{
            .service-cards{
                .img{height:278px;
                    img{height: 100%;width: 100%;object-fit: cover;}
                    .icon{width:118px;height:105px;left:-21px;
                        &:after{
                            content: '';
                            left:100%;margin-left:0%;
                         border-left:50px solid #FDFDFD;
                          border-top:105px solid transparent;
                        }
                        
                        img{align-self:flex-end;height:100px;left: 0;
                            &:nth-of-type(3){height:100px;}
                        }
                    }
                }
                
                p{font-size:15px;}

            }
        }
    }
}

// SERVICE ITEMS STYLES ENDS

}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

section.billboard{
    h1{line-height:90px;}
}
// foooter///styles
.main-footer{position: relative;} 
footer{margin-top:90px;overflow: hidden;
.footer-item{background: #E53C35;padding-left: 36px;padding-bottom: 115px;position: relative;
    &:after { content: ''; line-height: 0;font-size: 0; width: 0; height: 0;border-top: 100px solid #E53D35; border-bottom: 49px solid transparent; border-left: 0px solid transparent; border-right: 83px solid transparent; position: absolute;top: -50px; right: -47px;-webkit-transform: rotate(270deg);transform: rotate(270deg);z-index: 999;border-bottom-width: 0px;
    
      }
   
  
    img{height:66px;margin-top: 26px;margin-bottom: 50px;}
    p{text-align:center;text-align: center;margin-left: auto;padding:0 50px;font-family:'roman';font-size: 22px;line-height: 26px;color: #fff;padding-bottom: 16px;position: relative;z-index: 999;}
    .icon{text-align: center;padding-bottom:17px;
        a{color: #fff;display:inline-block;box-shadow: 0;text-decoration: none;position: relative;z-index: 999;transition:all .3s ease-in;
            i{font-size:17px;margin-right:10px;border:2px solid #fff;border-radius:100%;padding:16px;height:26px;width:26px;display: flex;justify-content: center;align-items: center;}
           
        }
    }

    a.submit{font-family:'bold';color: #fff;text-align: center;display: block;height: 68px;width: 223px;text-align: center;display: flex;justify-content:center;margin:auto;background:#E53C35;align-items:center;text-decoration: none;box-shadow: 19px 12px 16px rgba(0, 0, 0, 0.39);position: relative;z-index: 99999;font-size: 23px;transition:all .5s ease-in-out;
        &:hover{background-color: #fff;color: #E53C35;}
    }
}
.links{background-color:rgb(38, 35, 35);display:flex;flex-direction:column;height:100%;padding-top:30px;overflow:hidden;align-items:center;
    &:before { content: '';z-index: 6;line-height: 0; font-size: 0; height: 0; border-top: 50px solid transparent; border-bottom: 357px solid #262323; border-left: 52px solid transparent; border-right: 0 solid #262323;position: absolute;top:-3px;border-width: 171px; border-top-width: 467px;left: -341px;}
    h4{font-size:24px;font-family: 'bold';color: #fff;text-transform: uppercase;padding:30px 0;text-align: left;}
    a{color: #fff;font-family:'roman';display: block;text-align: left;padding-bottom: 17px;position: relative;z-index:90000;text-decoration: none;font-size: 25px;transition: all .5s ease-in;
        &:hover{color: #E53D35;}
    }
}
#last{z-index: 3;overflow:hidden;
    .tag-items{
        a{font-size: 23px;text-decoration: none;display:flex;line-height: 23px;font-family:'roman';align-items: center;margin-bottom:10px;;
            i{padding-right:20px;font-size:30px;}
        }
    }
}
#links{margin-top: 40px;}
}

.bottom{height: 87px;width:88%;background-color: #000;display: flex;justify-content: center;align-items: center;margin-right:auto;justify-content: space-between;position:absolute;bottom:0px;z-index: 99999;right:0;
    p{font-size: 20px;font-family: 'roman';padding-right:164px;color: #fff;}
    a{height: 100%;width:130px;background-color: #373737;display: flex;align-items: center;justify-content: center;transform: skewX(-22deg);position: relative;left:-25px;text-decoration: none;transition:all .3s ease-in-out;
        i{transform: rotate(150deg); color: white; font-size: 20px;transition: all .3s ease-in-out;}
        &:hover{background-color: #FDFDFD;
            i{color:#000;}
        }
    }
}
// footer styles ends
}