/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  height: 108px;
  background: #000;
  padding-left: 134px;
  padding-right: 172px;
  position: fixed;
  width: 100%;
  opacity: .7;
  z-index: 99999;
}

.navbar .logo {
  z-index: 99999999;
  position: relative;
}

.navbar .logo img {
  height: 75px;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  padding-right: 45px;
}

.navbar .navbar-collapse .navbar-nav .nav-item a {
  font-size: 20px;
  font-family: 'roman';
  text-transform: uppercase;
  color: #fff;
}

.navbar .navbar-collapse .navbar-nav .nav-item a::after {
  content: '';
  height: 3px;
  width: 0%;
  background-color: #fff;
  display: block;
  margin-top: 10px;
  -webkit-transition: width .5s ease-out;
  transition: width .5s ease-out;
}

.navbar .navbar-collapse .navbar-nav .nav-item a:hover::after {
  width: 100%;
}

.billboard {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./img/Billboard\-1.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 143px;
  position: relative;
}

.billboard .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #000;
  left: 0;
  opacity: .1;
  z-index: 1;
}

.billboard h1 {
  font-size: 75px;
  color: white;
  font-family: 'bold';
  margin-bottom: 55px;
  line-height: 90px;
  z-index: 2;
}

.billboard a {
  width: 194px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  z-index: 2;
}

.billboard a .left {
  background: #fff;
  width: 80%;
  height: 100%;
  padding-left: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.billboard a .left:after {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  border-top: 100px solid #E53D35;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  top: 0;
  right: -50px;
}

.billboard a .left span {
  font-family: 'roman';
  font-size: 20px;
  color: #000000;
  line-height: 24px;
}

.billboard a .right {
  margin-left: 0px;
  padding-right: 15px;
  width: 30%;
  height: 100%;
  background: #E53D35;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.billboard a .right i {
  color: #fff;
  border: 3px solid #fff;
  border-radius: 100%;
  padding: 8px;
  font-size: 24px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.billboard a .right:before {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 100px solid #E53D35;
  border-left: 50px solid transparent;
  border-right: 0px solid #fff;
  position: absolute;
  top: -50px;
  left: -50px;
}

.billboard a:hover p {
  color: #E53D35;
}

.services {
  margin: 80px 0 100px;
}

.services > div > div .service-cards {
  width: 100%;
}

.services > div > div .service-cards .img {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 231px;
  padding-bottom: 10px;
  border: none;
}

.services > div > div .service-cards .img .icon {
  width: 118px;
  height: 99px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #FDFDFD;
  left: -20px;
}

.services > div > div .service-cards .img .icon:after {
  content: '';
  left: 100%;
  margin-left: 30%;
  border-left: 50px solid #FDFDFD;
  border-top: 100px solid transparent;
}

.services > div > div .service-cards .img .icon img {
  height: 70px;
  position: relative;
  left: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services > div > div .service-cards .img .icon img:nth-of-type(3) {
  height: 82px;
}

.services > div > div .service-cards h2 {
  font-size: 27px;
  font-family: 'bold';
  padding-bottom: 19px;
  line-height: 32px;
  color: #2D2D2D;
}

.services > div > div .service-cards p {
  font-size: 20px;
  font-family: 'roman';
  line-height: 24px;
}

.about-us {
  margin-bottom: 112px;
}

.about-us h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'bold';
  line-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us h2 img {
  height: 59px;
}

.about-us p {
  color: #2D2D2D;
  font-size: 22px;
  font-family: 'roman';
  text-align: center;
  line-height: 26px;
  padding-top: 20px;
}

.about-us .mission-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 52px;
}

.about-us .mission-caption .description {
  width: 40%;
  margin-top: 52px;
  margin-right: 53px;
}

.about-us .mission-caption .description h2 {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  right: 50px;
}

.about-us .mission-caption .description h2 img {
  height: 59px;
}

.about-us .mission-caption .description p {
  text-align: left;
  font-size: 22px;
  font-family: 'roman';
  line-height: 30px;
  color: #2D2D2D;
  padding-top: 10px;
}

.about-us .mission-caption .description a {
  font-family: 'bold';
  font-size: 18px;
  color: #E53D35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 17px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.about-us .mission-caption .description a i {
  border-radius: 100%;
  border: 2px solid #E53D35;
  height: 8px;
  width: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 8px;
  padding: 8px;
  font-size: 12px;
}

.about-us .mission-caption .description a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.about-us .mission-caption .description a:hover i {
  color: #000git;
}

.about-us .mission-caption .caption-img {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.about-us .mission-caption .caption-img .inner-cap {
  height: 223px;
  width: 373px;
  overflow: hidden;
  border-radius: 10px;
}

.about-us .mission-caption .caption-img .inner-cap img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-us .mission-caption .caption-img .inner-cap:nth-child(2) {
  margin-top: 28px;
}

.about-us .mission-caption .caption-img .inner-cap:nth-child(3) {
  position: absolute;
  left: 30%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testimonials {
  background: url(./img/abt-2.png);
  height: 534px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.testimonials .overlay {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #000;
  position: absolute;
  opacity: .7;
}

.testimonials h2 {
  color: #fff;
  font-family: 'bold';
  font-size: 45px;
  text-align: center;
  padding-top: 50px;
  z-index: 99;
  position: relative;
  padding-bottom: 43px;
}

.testimonials .test-item {
  width: 829px;
  height: 275px;
  background: #fff;
  position: relative;
  z-index: 999;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  border-radius: 10px;
}

.testimonials .test-item img {
  height: 165px;
  padding-right: 17px;
}

.testimonials .test-item .quote h3 {
  font-size: 30px;
  font-family: 'bold';
  line-height: 42px;
  padding-bottom: 10px;
}

.testimonials .test-item .quote p {
  font-size: 20px;
  font-family: 'roman';
  line-height: 24px;
  color: #2D2D2D;
}

.gallery {
  text-align: center;
  padding: 0 73px;
  margin-bottom: 100px;
  margin-top: 80px;
}

.gallery h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'bold';
  font-size: 50px;
  line-height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.gallery h2 img {
  height: 59px;
}

.gallery p {
  font-family: 'roman';
  font-size: 20px;
  width: 830px;
  margin: auto;
  line-height: 24px;
  padding-bottom: 76px;
}

.gallery .img-gallery .img-1 {
  width: 100%;
  overflow: hidden;
}

.gallery .img-gallery .img-1 img {
  height: 257px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .img-gallery .img-1 img:nth-of-type(2) {
  margin-top: 22px;
}

.gallery .img-gallery .img-1 img:nth-of-type(2) img {
  height: 120px;
}

.gallery .img-gallery .img-2 {
  height: 536px;
  width: 100%;
}

.gallery .img-gallery .img-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .img-gallery .img-3 {
  width: 100%;
  margin-top: 21px;
}

.gallery .img-gallery .img-3 img {
  width: 100%;
  height: 248px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .img-gallery .img-4 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .img-gallery .img-4 img {
  height: 257px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .img-gallery .img-5 {
  width: 100%;
  margin-top: auto;
}

.gallery .img-gallery .img-5 img {
  height: 554px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 27px;
}

.contact {
  background-image: url(./img/Contact-us.jpg);
  height: 543px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .overlay {
  top: 0;
  left: 0;
  background: #000;
  opacity: .7;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.contact img {
  z-index: 3;
  position: relative;
  height: 158px;
  margin-bottom: 55px;
}

.contact a {
  color: #fff;
  font-family: 'bold';
  font-size: 30px;
  line-height: 36px;
  position: relative;
  z-index: 3;
  border: 3px solid #fff;
  text-decoration: none;
  height: 77px;
  width: 221px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contact a:hover {
  background-color: #fff;
  color: #000;
}

.main-footer {
  position: relative;
}

footer {
  margin-top: 90px;
  overflow: hidden;
}

footer .footer-item {
  background: #E53C35;
  padding-left: 36px;
  padding-bottom: 115px;
  position: relative;
}

footer .footer-item:after {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 100px solid #E53D35;
  border-bottom: 49px solid transparent;
  border-left: 0px solid transparent;
  border-right: 83px solid transparent;
  position: absolute;
  top: -50px;
  right: -47px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  z-index: 999;
  border-bottom-width: 0px;
}

footer .footer-item img {
  height: 66px;
  margin-top: 26px;
  margin-bottom: 50px;
}

footer .footer-item p {
  text-align: center;
  text-align: center;
  margin-left: auto;
  padding: 0 50px;
  font-family: 'roman';
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  padding-bottom: 16px;
  position: relative;
  z-index: 999;
}

footer .footer-item .icon {
  text-align: center;
  padding-bottom: 17px;
}

footer .footer-item .icon a {
  color: #fff;
  display: inline-block;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  text-decoration: none;
  position: relative;
  z-index: 999;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

footer .footer-item .icon a i {
  font-size: 17px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 16px;
  height: 26px;
  width: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-item a.submit {
  font-family: 'bold';
  color: #fff;
  text-align: center;
  display: block;
  height: 68px;
  width: 223px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background: #E53C35;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-shadow: 19px 12px 16px rgba(0, 0, 0, 0.39);
          box-shadow: 19px 12px 16px rgba(0, 0, 0, 0.39);
  position: relative;
  z-index: 99999;
  font-size: 23px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

footer .footer-item a.submit:hover {
  background-color: #fff;
  color: #E53C35;
}

footer .links {
  background-color: #262323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-top: 30px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links:before {
  content: '';
  z-index: 6;
  line-height: 0;
  font-size: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 357px solid #262323;
  border-left: 52px solid transparent;
  border-right: 0 solid #262323;
  position: absolute;
  top: -3px;
  border-width: 171px;
  border-top-width: 467px;
  left: -341px;
}

footer .links h4 {
  font-size: 24px;
  font-family: 'bold';
  color: #fff;
  text-transform: uppercase;
  padding: 30px 0;
  text-align: left;
}

footer .links a {
  color: #fff;
  font-family: 'roman';
  display: block;
  text-align: left;
  padding-bottom: 17px;
  position: relative;
  z-index: 90000;
  text-decoration: none;
  font-size: 25px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

footer .links a:hover {
  color: #E53D35;
}

footer #last {
  z-index: 3;
  overflow: hidden;
}

footer #last .tag-items a {
  font-size: 23px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 23px;
  font-family: 'roman';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

footer #last .tag-items a i {
  padding-right: 20px;
  font-size: 30px;
}

.bottom {
  height: 87px;
  width: 88%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0px;
  z-index: 99999;
  right: 0;
}

.bottom p {
  font-size: 20px;
  font-family: 'roman';
  padding-right: 164px;
  color: #fff;
}

.bottom a {
  height: 100%;
  width: 130px;
  background-color: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: skewX(-22deg);
          transform: skewX(-22deg);
  position: relative;
  left: -25px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bottom a i {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  color: white;
  font-size: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bottom a:hover {
  background-color: #FDFDFD;
}

.bottom a:hover i {
  color: #000;
}

@media (max-width: 320px) {
  nav.navbar .logo img {
    height: 40px;
  }
  nav.navbar button img {
    height: 40px !important;
  }
  .billboard h1 {
    line-height: normal;
  }
}

@media (max-width: 575px) {
  footer > div {
    padding: 0;
  }
  footer .footer-item {
    padding-left: 0;
    text-align: center;
  }
  footer .footer-item img {
    height: 56px;
  }
  footer .links {
    padding-top: 0 !important;
    height: 400px;
  }
  footer .links h4 {
    position: relative;
    z-index: 9;
    padding: 0;
    padding-top: 0;
    padding-bottom: 24px;
    font-size: 26px;
  }
  footer .links::before {
    border-top-width: 508px;
  }
  footer #last {
    padding-bottom: 100px;
  }
  footer #last h4 {
    padding: 0;
    padding-bottom: 24px;
    font-size: 26px;
    padding-top: 0;
  }
  footer #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 430px;
  }
  footer #links h4 {
    padding-top: 0;
  }
  .bottom p {
    padding-right: 20px;
  }
  .services > div > div .service-cards {
    margin: 20px 0;
  }
  .services > div > div .service-cards .img {
    height: 278px;
  }
  .services > div > div .service-cards .img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services > div > div .service-cards .img .icon {
    width: 118px;
    height: 105px;
  }
  .services > div > div .service-cards .img .icon:after {
    content: '';
    left: 100%;
    margin-left: 0%;
    border-left: 50px solid #FDFDFD;
    border-top: 105px solid transparent;
  }
  .services > div > div .service-cards .img .icon img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 100px;
    left: 15px;
  }
  .services > div > div .service-cards .img .icon img:nth-of-type(3) {
    height: 100px;
  }
  .services > div > div .service-cards p {
    font-size: 15px;
  }
  .navbar {
    opacity: 1;
    padding: 0 20px !important;
    height: 60px;
  }
  .navbar .logo img {
    height: 50px;
  }
  .navbar button img {
    height: 50px !important;
  }
  .testimonials {
    height: 100%;
    padding-bottom: 25px;
  }
  .testimonials .test-item {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    padding: 12px 20px;
  }
  .gallery {
    padding: 0 20px;
  }
  .gallery p {
    width: 80%;
  }
  .gallery .img-gallery .img-2, .gallery .img-gallery .img-5 {
    height: 257px;
  }
  .gallery .img-gallery .img-2 img, .gallery .img-gallery .img-5 img {
    height: 100%;
  }
  .gallery .img-gallery .img-4 {
    margin-top: 24px;
  }
  .billboard {
    padding-left: 20px;
  }
  .billboard h1 {
    font-size: 40px;
    line-height: normal;
    padding-top: 30px;
  }
  .contact img {
    z-index: 3;
    height: 70px;
  }
  section.about-us .mission-caption {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about-us .mission-caption .inner-cap {
    width: 100% !important;
  }
  section.about-us .mission-caption .inner-cap img {
    width: 100% !important;
  }
  section.about-us .mission-caption .inner-cap:nth-of-type(3) {
    display: none;
  }
  section.about-us .mission-caption .description {
    width: 100%;
  }
  section.about-us .mission-caption .description h2 {
    left: 10px;
  }
  section.about-us .mission-caption .caption-img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .navbar {
    opacity: 1;
  }
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    background-color: #E53D35;
    left: 0;
    width: 100%;
    opacity: 1;
    padding: 20px 40px;
  }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item {
    padding-right: 45px;
  }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    font-size: 30px;
    font-family: 'roman';
    text-transform: uppercase;
    color: #fff;
  }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #fff;
    display: block;
    margin-top: 10px;
    -webkit-transition: width .5s ease-out;
    transition: width .5s ease-out;
  }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover::after {
    width: 100%;
  }
  body > div:nth-child(3) > section > div > div > div > div > div > img {
    left: 5% !important;
  }
}

@media (max-width: 768px) {
  .billboard .overlay {
    opacity: 1;
    background-color: transparent;
    display: none;
  }
  .navbar {
    opacity: 1;
    padding: 0 40px;
  }
  .navbar button img {
    height: 80px;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    background-color: #E53D35;
    left: 0;
    width: 100%;
    opacity: 1;
    padding: 20px 40px;
  }
  .navbar-collapse ul.navbar-nav li.nav-item {
    padding-right: 45px;
  }
  .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    font-size: 30px;
    font-family: 'roman';
    text-transform: uppercase;
    color: #fff;
  }
  .navbar-collapse ul.navbar-nav li.nav-item a.nav-link::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #fff;
    display: block;
    margin-top: 10px;
    -webkit-transition: width .5s ease-out;
    transition: width .5s ease-out;
  }
  .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover::after {
    width: 100%;
  }
  section.services > div > div .service-cards .img .icon {
    width: 118px;
    height: 105px;
  }
  section.services > div > div .service-cards .img .icon:after {
    content: '';
    left: 100%;
    margin-left: 0%;
    border-left: 50px solid #FDFDFD;
    border-top: 105px solid transparent;
  }
  section.services > div > div .service-cards .img .icon img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 100px;
  }
  section.services > div > div .service-cards .img .icon img:nth-of-type(3) {
    height: 100px;
  }
  section.services > div > div .service-cards p {
    font-size: 15px;
  }
  .testimonials {
    height: 100%;
    padding-bottom: 25px;
  }
  .testimonials .test-item {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    padding: 12px 20px;
  }
  .gallery {
    padding: 0 20px;
  }
  .gallery p {
    width: 80%;
  }
  .gallery .img-gallery .img-2 {
    margin-top: 24px;
  }
  .gallery .img-gallery .img-4 {
    margin-top: 24px;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .contact img {
    z-index: 3;
    height: 100px;
  }
  .services > div > div .service-cards .img {
    height: 278px;
  }
  .services > div > div .service-cards .img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services > div > div .service-cards .img .icon {
    width: 115px !important;
    height: 105px;
  }
  .services > div > div .service-cards .img .icon:after {
    content: '';
    left: 100%;
    margin-left: 0%;
    border-left: 50px solid #FDFDFD;
    border-top: 105px solid transparent;
  }
  .services > div > div .service-cards .img .icon img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 100px;
    left: 0;
  }
  .services > div > div .service-cards .img .icon img:nth-of-type(3) {
    height: 118px;
  }
  .services > div > div .service-cards p {
    font-size: 15px;
  }
  body > div:nth-child(4) {
    padding: 0 !important;
    margin: auto !important;
    text-align: center;
  }
  nav.navbar {
    padding: 0 20px;
    position: relative;
  }
  .billboard {
    height: 100vh;
  }
  .billboard .overlay {
    opacity: 1;
    background-color: transparent;
    display: none;
  }
  .billboard h1 {
    font-size: 50px;
  }
  section.about-us .mission-caption {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.about-us .mission-caption .inner-cap {
    width: 100% !important;
  }
  section.about-us .mission-caption .inner-cap img {
    width: 100% !important;
  }
  section.about-us .mission-caption .inner-cap:nth-of-type(3) {
    display: none;
  }
  section.about-us .mission-caption .description {
    width: 100%;
  }
  section.about-us .mission-caption .description h2 {
    left: 10px;
  }
  section.about-us .mission-caption .caption-img {
    width: 100%;
  }
  body > div:nth-child(3) > section > div > div:nth-child(3) > div > div > div > img {
    height: 118px !important;
  }
  footer > div {
    padding: 0;
  }
  footer .footer-item {
    padding-left: 0;
    text-align: center;
  }
  footer .footer-item img {
    height: 56px;
  }
  footer .footer-item::after {
    display: none;
  }
  footer .links {
    padding-top: 0 !important;
    height: 400px;
  }
  footer .links h4 {
    position: relative;
    z-index: 9;
    padding: 0;
    padding-top: 0;
    padding-bottom: 24px;
    font-size: 26px;
  }
  footer .links::before {
    border-top-width: 508px;
  }
  footer #last {
    padding-bottom: 100px;
  }
  footer #last h4 {
    padding: 0;
    padding-bottom: 24px;
    font-size: 26px;
    padding-top: 0;
  }
  footer #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  footer #links h4 {
    padding-top: 0;
  }
  .bottom p {
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonials .test-item {
    width: 90%;
  }
  .gallery {
    padding: 0 20px;
  }
  .gallery p {
    width: 80%;
  }
  .gallery .img-gallery .img-4 {
    margin-top: 24px;
  }
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    background-color: #E53D35;
    left: 0;
    width: 100%;
    opacity: 1;
    padding: 20px 40px;
  }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item {
    padding-right: 45px;
  }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    font-size: 30px;
    font-family: 'roman';
    text-transform: uppercase;
    color: #fff;
  }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #fff;
    display: block;
    margin-top: 10px;
    -webkit-transition: width .5s ease-out;
    transition: width .5s ease-out;
  }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover::after {
    width: 100%;
  }
  .about-us .mission-caption {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us .mission-caption .description {
    width: 100%;
  }
  .about-us .mission-caption .description h2 {
    left: 10px;
  }
  .about-us .mission-caption .caption-img {
    width: 100%;
  }
  .navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
  .billboard {
    padding-left: 20px;
    height: 60vh;
  }
  .billboard h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .services > div > div .service-cards .img {
    height: 278px;
  }
  .services > div > div .service-cards .img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services > div > div .service-cards .img .icon {
    width: 118px;
    height: 105px;
  }
  .services > div > div .service-cards .img .icon:after {
    content: '';
    left: 100%;
    margin-left: 0%;
    border-left: 50px solid #FDFDFD;
    border-top: 105px solid transparent;
  }
  .services > div > div .service-cards .img .icon img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 100px;
  }
  .services > div > div .service-cards .img .icon img:nth-of-type(3) {
    height: 100px;
  }
  .services > div > div .service-cards p {
    font-size: 15px;
  }
  footer {
    margin-top: 90px;
    overflow: hidden;
  }
  footer .footer-item {
    background: #E53C35;
    padding-left: 36px;
    padding-bottom: 115px;
    position: relative;
  }
  footer .footer-item:after {
    display: none;
  }
  footer .links h4 {
    position: relative;
    z-index: 9;
    padding: 0;
    padding-top: 0;
    padding-bottom: 24px;
    font-size: 26px;
  }
  footer .links::before {
    border-top-width: 508px;
  }
  footer #last {
    padding-bottom: 100px;
  }
  footer #last h4 {
    padding: 0;
    padding-bottom: 24px;
    font-size: 26px;
  }
  footer #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bottom p {
    padding-right: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  footer .footer-item:after {
    display: none;
  }
  .navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
  .services > div > div .service-cards .img {
    height: 278px;
  }
  .services > div > div .service-cards .img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .services > div > div .service-cards .img .icon {
    width: 118px;
    height: 105px;
    left: -21px;
  }
  .services > div > div .service-cards .img .icon:after {
    content: '';
    left: 100%;
    margin-left: 0%;
    border-left: 50px solid #FDFDFD;
    border-top: 105px solid transparent;
  }
  .services > div > div .service-cards .img .icon img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 100px;
    left: 0;
  }
  .services > div > div .service-cards .img .icon img:nth-of-type(3) {
    height: 100px;
  }
  .services > div > div .service-cards p {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .main-footer {
    position: relative;
  }
  footer {
    margin-top: 90px;
    overflow: hidden;
  }
  footer .footer-item {
    background: #E53C35;
    padding-left: 36px;
    padding-bottom: 115px;
    position: relative;
  }
  footer .footer-item:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 100px solid #E53D35;
    border-bottom: 49px solid transparent;
    border-left: 0px solid transparent;
    border-right: 83px solid transparent;
    position: absolute;
    top: -50px;
    right: -47px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    z-index: 999;
    border-bottom-width: 0px;
  }
  footer .footer-item img {
    height: 66px;
    margin-top: 26px;
    margin-bottom: 50px;
  }
  footer .footer-item p {
    text-align: center;
    text-align: center;
    margin-left: auto;
    padding: 0 50px;
    font-family: 'roman';
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    padding-bottom: 16px;
    position: relative;
    z-index: 999;
  }
  footer .footer-item .icon {
    text-align: center;
    padding-bottom: 17px;
  }
  footer .footer-item .icon a {
    color: #fff;
    display: inline-block;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    text-decoration: none;
    position: relative;
    z-index: 999;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  footer .footer-item .icon a i {
    font-size: 17px;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 16px;
    height: 26px;
    width: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-item a.submit {
    font-family: 'bold';
    color: #fff;
    text-align: center;
    display: block;
    height: 68px;
    width: 223px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    background: #E53C35;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    -webkit-box-shadow: 19px 12px 16px rgba(0, 0, 0, 0.39);
            box-shadow: 19px 12px 16px rgba(0, 0, 0, 0.39);
    position: relative;
    z-index: 99999;
    font-size: 23px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  footer .footer-item a.submit:hover {
    background-color: #fff;
    color: #E53C35;
  }
  footer .links {
    background-color: #262323;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding-top: 30px;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .links:before {
    content: '';
    z-index: 6;
    line-height: 0;
    font-size: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 357px solid #262323;
    border-left: 52px solid transparent;
    border-right: 0 solid #262323;
    position: absolute;
    top: -3px;
    border-width: 171px;
    border-top-width: 467px;
    left: -341px;
  }
  footer .links h4 {
    font-size: 24px;
    font-family: 'bold';
    color: #fff;
    text-transform: uppercase;
    padding: 30px 0;
    text-align: left;
  }
  footer .links a {
    color: #fff;
    font-family: 'roman';
    display: block;
    text-align: left;
    padding-bottom: 17px;
    position: relative;
    z-index: 90000;
    text-decoration: none;
    font-size: 25px;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }
  footer .links a:hover {
    color: #E53D35;
  }
  footer #last {
    z-index: 3;
    overflow: hidden;
  }
  footer #last .tag-items a {
    font-size: 23px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 23px;
    font-family: 'roman';
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  footer #last .tag-items a i {
    padding-right: 20px;
    font-size: 30px;
  }
  footer #links {
    margin-top: 40px;
  }
  .bottom {
    height: 87px;
    width: 88%;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    bottom: 0px;
    z-index: 99999;
    right: 0;
  }
  .bottom p {
    font-size: 20px;
    font-family: 'roman';
    padding-right: 164px;
    color: #fff;
  }
  .bottom a {
    height: 100%;
    width: 130px;
    background-color: #373737;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: skewX(-22deg);
            transform: skewX(-22deg);
    position: relative;
    left: -25px;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .bottom a i {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
    color: white;
    font-size: 20px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .bottom a:hover {
    background-color: #FDFDFD;
  }
  .bottom a:hover i {
    color: #000;
  }
}
/*# sourceMappingURL=style.css.map */